/*D E S I G N*/

/*COLORS*/
:root{
    --black:#010101;
    --white: #F7F7F7;
}

/*TYPOGRAPHIE*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}

/*C S S  R U L E S*/
/*RESET*/
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}


/*GLOBALS*/
html{
    background-color: var(--white);
}


/*P A R T S*/
/*HEADER*/
header{
    width:inherit;
    height: 100vh;
    background-image: url(assets/hero-image.png);
    background-position: top center;
    background-size: cover;
    color: var(--white);
}

nav *{
    display: flex;
    justify-content: center;
    align-content: center;
}

nav ul li{
    display: inline;
    margin: 0 3%;
    transition: border 1s ease-in 0s;
}

nav ul li:hover{
    border-bottom: solid 3px #F7F7F7;
}

nav{
    display: inline;
    border-bottom: solid 1px var(--white);
}

/*help*/
img[alt=help]{
    position: relative;

}

/*logo*/
img[alt="logo"]{
    width: 20%;
    display: flex;
    margin: 0 45%;
}

/*burguer*/
img[alt="burguer"]{
    position: relative;
    width: 10%;
    left: 90%;
    margin-top: -40px;
}

/*HERO IMAGE*/
.hero{
    text-align: center;
    padding: 10%;
}

h1{
    font-size: 70px;
}

span{
    transition: -webkit-text-fill-color 2s ease-in-out 0s;
}

h1:hover span{
    -webkit-text-stroke-color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-fill-color: transparent;
}

/*learn more*/
img[alt="learn-more"]{
    position: relative;
    width: 20%;
    left: 55%;
    animation: 5s 0s infinite spin;
}

@keyframes spin{
    from{
        rotate: 1deg;
    }
    to {
        rotate: 359deg;
    }
}

img[alt="arrow"]{
    position: relative;
    width: 15%;
    left: 37%;
    top: -30px;
}

/*arrow*/


/*MAIN*/
main{
    margin: 5%;
}

/*FOOTER*/
footer{
    width:inherit;
    height: 10vh;
    padding: 5%;
    background-color: var(--black);
    color: var(--white);

}

/*R E S P O N S I V E*/
@media only screen and (min-width: 600px) {
    header nav div{
        display: block;
    }
    img[alt="burguer"]{
        display: none;
    }
    img[alt=help]{
        margin-top: -23px;
        left: 90%;
    }
  }

  @media only screen and (max-width: 600px) {
    header nav div{
        display: none;
    }
    img[alt="burguer"]{
        display: block;
    }
    img[alt=help]{
        left: 80%;
    }
  }
