/*D E S I G N*/

/*COLORS*/
:root{
    --black:#010101;
    --white: #F7F7F7;
}

/*TYPOGRAPHIE*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}

/*C S S  R U L E S*/
/*RESET*/
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}


/*GLOBALS*/
html{
    background-color: var(--white);
}


/*P A R T S*/
/*HEADER*/
